.watch-later {
  .header {
    margin-bottom: 20px;
  }

  .empty-list {
    padding: 20px;
    text-align: center;

    i {
      font-size: 48px;
      margin-bottom: 10px;
    }
  }

  footer {
    margin-top: 20px;
  }
}
