html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(0deg, #1cb5e0 20%, #050b45 100%) no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  min-height: 100vh;
  padding-top: 60px; // Adjust based on your header height
  box-sizing: border-box;
}
